<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link type="text/css" rel="stylesheet" href="/public/aldebaransamudera.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Selamat Ulang Tahun!!</title>
  </head>

  <body>
    <nav id="navbar" class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div id="navbar-header">
          <a class="navbar-brand" href="#">AlexandroCW</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Homepage</a></li>
          <li><a href="/#about-me">About me</a></li>
          <li><a href="/#my-projects">My Projects</a></li>
          <li><a href="/#contact-me">Contact me</a></li>
        </ul>
      </div>
    </nav>

    <main>
        <div id="homepage">
            <header id="header-area" class="intro-section">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 text-center">
                    <div class="header-content">
                      <h1>SELAMAT ULANG TAHUN</h1>
                      <img src="/assets/aldebaransamudera.jpg" alt="Aldebaran Junior Alam Samudera">
                      <h2>Aldebaran Junior Alam Samudera</h2>
                      <p>Makasih udah jadi temenku selama ini :3</p>
                    </div>
                  </div>
                </div>
              </div>
            </header>
          </div>
    </main>
  </body>
</html>