<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/public/style.css">
    <title>Alex's Personal Websites</title>
  </head>
  
  <body>
    <header>
        <nav id="navbar" class="nav">
           <ul class="nav-list">
               <li>
                   <a href="#about-me" id="nav-link">About Me</a>
               </li>
               <li>
                   <a href="#my-projects" id="nav-link">My projects</a>
               </li>
               <li>
                   <a href="#contact-me" id="nav-link">Contact Me</a>
               </li>
           </ul>
       </nav>
    </header>

    <main>
      <div id="about-me">
        <h1>
          Hi, I'm Alex </br>
          a web developer.
        </h1>
      </div>
    </main>
  </body>
</html>