<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/public/style.css">
  </head>
  
  <body>
    <header>
        <nav id="navbar" class="nav">
           <ul class="nav-list">
               <li>
                   <a href="#" id="nav-link">About Me</a>
               </li>
               <li>
                   <a href="#" id="nav-link">My projects</a>
               </li>
               <li>
                   <a href="#" id="nav-link">Contact Me</a>
               </li>
           </ul>
       </nav>
    </header>

    <main>
    </main>
  </body>
</html>