<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/public/style.css">
  </head>
  
  <body>
    <header>
        <nav id="navbar" class="nav">
           <ul class="nav-list">
               <li>
                   <a href="#about-me" id="nav-link">About Me</a>
               </li>
               <li>
                   <a href="#my-projects" id="nav-link">My projects</a>
               </li>
               <li>
                   <a href="#contact-me" id="nav-link">Contact Me</a>
               </li>
           </ul>
       </nav>
    </header>

    <main>
      <h1 id="about-me">
        Hi, I'm Alex </br>
        a web developer.
      </h1>
    </main>
  </body>
</html>