body {
  background: linear-gradient(90deg, hsl(236, 50%, 15%), hsl(236, 80%, 50%));
}

main {
  position: relative;
  margin-top: 55px;
}

#navbar {
  background-color: hsl(236, 50%, 15%);
}

#homepage {
  color: white;
}

#homepage > h1 {
  font-family: Poppins;
  font-size: 2em;
}

#homepage > h4 {
  font-family: Poppins;
}

.header-content  h1 {
  color: #fff;
  font-size: 70px;
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
}
.header-content h4 {
  color: #fff;
  font-size: 25px;
  text-shadow: 1px 1px #333;
}

/* Navbar
***********/

/* Section 1
*************/
#about-me {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 2em;
}